
body {
    background-color: rgb(46, 46, 46);
}

#gameCanvas {
    background: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

#player, #enemy, #map {
    display: none;
}