* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-optical-sizing: auto;
}

body {
    overflow: hidden;
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-width: calc(270px * 5 + 2em * 8);
}

.cardcontainer {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card {
    position: relative; 
    width: 270px;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr auto;
    box-shadow: 0 15px 30px -10px #000;
    cursor: pointer;
    height: 500px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.card-body,
.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-image {
    position: relative;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.card-image img {
    max-width: 95%;
    max-height: 95%;
    object-fit: flex;
    transition: max-width 0.5s, max-height 0.5s;
}

.card:hover .card-image img, .selected .card-image img{
    max-width: 130%;
    max-height: 130%;
}

.card:hover {
    box-shadow: 4px 4px 25px -10px rgba(0, 0, 0, 0.2);
}

.card-body {
    background: white;
    padding: 20px 28px;
}

.card-body p {
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: gray;
}

.card-body h2 {
    font-size: 40px;
    text-align: center;
    padding-top: 0;
    margin-top: -10px;
}

.card-body span{
    padding-bottom: 0;
    margin-bottom: 0;
}

.card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    font-size: 18px;
}

.card-footer .info{
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 6px;
    align-items: center;
    flex-direction: column;
}

.card .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.06s ease-in-out;
  }

.card:hover .dropdown, .selected .dropdown{
    max-height: 500px;
  }

.value{
    text-transform:uppercase;
}

.card-footer .info:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.card-footer .info .type{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-footer .info .difficulty,
.card-footer .info .element{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.card-footer .info img {
    width: 30px;
    height: 30px;
}

div.selected-ranger {
    box-shadow: 0px 0px 20px 0px rgba(104, 230, 169, 0.5) !important;
}

div.selected-pirate {
    box-shadow: 0px 0px 20px 0px rgba(241, 104, 104, 0.5) !important;
}

div.selected-valk {
    box-shadow: 0px 0px 20px 0px rgba(243, 230, 155, 0.5) !important;
}

#playButton {
    background-color: rgba(0,0,0,0);
    font-size: 40px;
    text-transform: uppercase;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s;
}

button.selected-ranger {
    border: 2px solid #3e9c6e;
    color: #3e9c6e !important; 
}
button.selected-pirate {
    border: 2px solid #9e3e3e;
    color: #9e3e3e !important; 
}
button.selected-valk {
    border: 2px solid #c2b672;
    color: #c2b672 !important; 
}

button.selected-ranger:hover {
    cursor: pointer;
    border: 2px solid #3e9c6e;
    background-color: #3e9c6e !important;
    text-shadow: 0px 0px 5px rgba(255,255,255, 0.4) !important;
    color: white !important; 
}
button.selected-pirate:hover {
    cursor: pointer;
    border: 2px solid #9e3e3e;
    background-color: #9e3e3e !important;
    text-shadow: 0px 0px 5px rgba(255,255,255, 0.4) !important;
    color: white !important; 
}
button.selected-valk:hover {
    cursor: pointer;
    border: 2px solid #c2b672;
    background-color: #c2b672 !important;
    text-shadow: 0px 0px 5px rgba(255,255,255, 0.4) !important;
    color: white !important; 
}